* {
  font-family: "Poppins", sans-serif;
}
a {
  color: hsl(259, 100%, 65%);
}
.form-group {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}
.form-group label {
  margin-bottom: 5px;
}
input {
  width: 140px;
  padding: 10px;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
button {
  background-color: hsl(259, 100%, 65%);
  border: none;
}
#age-result p {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 800;
}
#age-result span {
  color: hsl(259, 100%, 65%);
}
#age-result {
  line-height: 60px;
}
.custom-border {
  border: 3px solid red;
}
.custom-label {
  color: red;
}




